<h1><%= @profile.name%>'s SAVED NAPS</h1>

<p></p>
<p>Age: <%= @profile.age%> Months</p>

<ul>
  <% @naps.each do |nap| %>
    <li>
      <%= link_to nap.title, profile_nap_path(@profile,nap)%>, <%= nap.date %>
    </li>
  <% end %>
</ul>

  <div>
  <%= link_to "New Nap Schdule", new_profile_nap_path %>
  </div>

  <ul>
  <li><%= link_to "Home", '/' %></li>
  <li><%= link_to "Edit Profile",edit_profile_path(@profile)%></li>
  <li><%= link_to "Destroy",profile_path(@profile), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>