<h1>Calculated Schedule</h1>
<p>Title: <%= @nap.title %></p>
<p>Date: <%= @nap.date %></p>
<p>Age: <%= @nap.age %> Months</p>
<p>Wake Up Time: <%= @nap.wake_up_time.strftime("%I:%M %p") %></p>
<p>Desired Bedtime: <%= @nap.bedtime.strftime("%I:%M %p") %></p>
<p>Awake Window: <%= @calculated_schedule[:awake_window] %> hours</p>
<p>Nap Duration: <%= (@calculated_schedule[:nap_duration]) %> </p>
<p>Nap1: <%= @calculated_schedule[:nap1]&.strftime("%I:%M %p") %></p>
<p>Nap2: <%= @calculated_schedule[:nap2]&.strftime("%I:%M %p") %></p>
<p>Nap3: <%= @calculated_schedule[:nap3]&.strftime("%I:%M %p") %></p>
<p>Nap4: <%= @calculated_schedule[:nap4]&.strftime("%I:%M %p") %></p>

<%= form_with url: save_result_profile_nap_path(nap_id: @nap.id), method: :post, local: true do |form| %>
  <!-- Add any hidden fields or data you want to send to the save_result action aka :result_data -->
  <%= form.hidden_field :result_data, value: @calculated_schedule.to_json %>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>
