<h1> CALCULATED NAP</h1>
<p> <%= @nap.title %> </p>
<p> <%= @nap.date %> </p>
<p> <%= @nap.age %> </p>
<p> <%= @nap.wake_up_time %> </p>
<p> <%= @nap.bedtime %> </p>

<%= form_with url: save_result_path, method: :post, local: true do |form| %>
  <!-- Add any hidden fields or data you want to send to the save_result action -->
  <%= form.hidden_field :result_data, value: @calculated_schedule %>
  
  <!-- Add the "Save" button -->
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>