<h1><%= @nap.title%></h1>

  <div>
  <p><%= @nap.date%></p>
  </div>

  <div>
  <p><%= @nap.age%> months</p>
  </div>

  <div>
  <p><%= @nap.wake_up_time%></p>
  </div>

  <div>
  <p><%= @nap.bedtime%></p>
  </div>
