<h1> Saved NAP</h1>
<p> TITLE: <%= @nap.title %> </p>
<p> DATE: <%= @nap.date %> </p>
<p> AGE: <%= @nap.age %> Months</p>
<p> WAKE UP TIME: <%= @nap.wake_up_time.strftime("%I:%M %p") %> </p>
<p> DESIRED BEDTIME: <%= @nap.bedtime.strftime("%I:%M %p") %> </p>
<p> Awake Window: <%= number_with_precision(@nap.awake_window, precision: 2) %> hours </p>
<p> Nap duration: <%= @nap_duration %> </p>
<p> NAP1: <%= @nap.nap1&.strftime("%I:%M %p") %> </p>
<p> NAP2: <%= @nap.nap2&.strftime("%I:%M %p") %> </p>


<ul>
<li><%= link_to "Home", '/' %></li>
<li><%= link_to "Edit Nap",edit_profile_nap_path(@profile,@nap)%></li>
<li><%= link_to "Destroy Nap",profile_nap_path(@profile,@nap), data: {
	turbo_method: :delete,
	turbo_confirm: "Are you sure?"
} %></li>
</ul>